/* lato-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/lato-v25-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v25-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v25-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* Default light mode styles */
  --light-background: #F5F8FA;
  --light-background-muted: #E1E8ED;
  --light-background-bright: #FCFDFE;
  --light-color-primary: #5DB6F8;
  --light-color-primary-muted: #85B8F7;
  --light-color-secondary: #C29BB8;
  --light-color-secondary-muted: #D5B0DB;
  --light-color-text: #1C1C1C;
  --light-color-text-muted: #2A2A2E;
  --light-color-border: #B6B8BA;
  

  --dark-background: #17171A;
  --dark-background-muted: #222226;
  --dark-background-deep: #101012;
  --dark-color-primary: #0084E3; 
  --dark-color-primary-muted: #2A89FD;
  --dark-color-secondary: #9D5A8D;
  --dark-color-secondary-muted: #BD79C9;
  --dark-color-text: #E8E8E8;
  --dark-color-text-muted: #BEC0CC;
  --dark-color-border: #5D5E66;


  /* Alt colors */
  --color-periwinkle: #CCD5FF;
  --color-crayolablue: #677BFF;

  /* Error */
  --color-error: #D46A6A;
  --color-error-muted: #E8A4A4;

  /* Success */
  --color-success: #5FAF7A;
  --color-success-muted: #9DD4B0;

  /* Info / Warning */
  --color-info: #D2A24C;
  --color-info-muted: #E7CC8D;
}

* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--light-background);
  color: var(--light-color-text);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background: var(--dark-background);
    color: var(--dark-color-text);
  }
}
